* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  background-image: url("images/starry-background.svg");
  background-size: cover;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
}

button {
  background: none;
  border: none;
}

.human.hand {
  cursor: pointer;
  transition: all .1s;
  -webkit-user-drag: none;
}

@keyframes shake {
  0% {
    transform: rotate(-3deg) scale(1.05, 1.05);
  }
  50% {
    transform: rotate(3deg) scale(1.075, 1.075);
  }
  100% {
    transform: rotate(0) scale(1.1, 1.1);
  }
}
@keyframes card-idle {
  0% {
    transform: rotateY(10deg);
  }
  100% {
    transform: rotateY(-10deg);
  }
}

.highlighted {
  transform: scale(1.1, 1.1);
}

.human.hand {
  width: 250px;
  box-shadow: rgba(1, 1, 1, 0.3) 5px 5px 10px 5px;
}


.hand-container.human {
  display: flex;
  column-gap: 2rem;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.human.side > h1 {
  text-align: center;
  font-size: 3rem;
  color: #FFFFCE;
}

.human > .score-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FFFFCE;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}