* {
  font-family: "Schoolbell", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
}

body {
  /* background-image: url("images/starry-background.svg"); */
  /* background-size: cover; */

  background-color: #c32f27;
  height: 100vh;

  display: flex;
  color: #f7b538;  
}
main {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;

  flex: 1 1 0;
}

button.reset {
  background:#f7b538;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  color: #780116;
  cursor: pointer;

  margin-top: 1rem;
}

.sidebar button:hover {
  background-color: hsl(from #f7b538 h s calc(l + 5))
}

.sidebar {
  height: 100vh;
  background-color: #780116;

  display: flex;
  padding: 1rem 1rem;
  flex-direction: column;

  text-align: center;

  box-shadow: rgba(0,0,0, .5) 5px 0 10px;
  flex: 0 1 300px;
}

.header > h1 {
  font-size: 1.5rem;
  flex: 0 0 0;
}

.sidebar hr {
  border-color: #c32f27;
}

.rounds-input {
  width: 100px;
  border-radius: 10px;
  border: none;
  padding: 0 0 0 5px;
  text-align: center;
  font-size: 1.5rem;
  background-color: #c32f27;
  border:#f7b538 solid 3px;
  color:#f7b538;
}

.rounds-input:focus {
  outline: 3px solid #c32f27;
  outline-offset: 2px;
}

.options {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stats-container {
  flex: 0 1 300px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 100px;
}

button {
  background: none;
  border: none;
}

.human.hand {
  cursor: pointer;
  transition: all .1s;
  -webkit-user-drag: none;
}

@keyframes shake {
  0% {
    transform: rotate(-3deg) scale(1.05, 1.05);
  }
  50% {
    transform: rotate(3deg) scale(1.075, 1.075);
  }
  100% {
    transform: rotate(0) scale(1.1, 1.1);
  }
}

@keyframes card-idle {
  0% {
    transform: rotateY(10deg);
  }
  100% {
    transform: rotateY(-10deg);
  }
}

.human.hand:not(:hover):not(.highlighted) {
  animation: 1s ease-in-out infinite 0s alternate card-idle;
}

.computer.hand:not(.highlighted) {
  animation: 1s ease-in-out infinite .3s alternate card-idle;
}

.human.hand:not(.highlighted):hover {
  transform: scale(1.05, 1.05);
}

.highlighted {
  transform: scale(1.1, 1.1);
  animation: 0.1s ease-in-out 0s shake
}

.hand {
  width: 150px;
  /* box-shadow: rgba(1, 1, 1, 0.3) 5px 5px 10px 5px; */
}

.hand-container.computer {
  transform: rotate(180deg)
}


.hand-container {
  display: flex;
  column-gap: 2rem;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.player-tag {
  text-align: center;
  font-size: 3rem;
}

.status-indicator {
  text-align: center;
  font-size: 3rem;
}

.score-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.side {
  display: flex;
}
